{{ define "telegram.message" }}
{{ range .Alerts -}}
{{if eq .Status "firing" }}
Status: <b>{{.Status | toUpper}} 🔥</b>({{$severity := .Labels.severity }}{{if eq $severity "critical" }}<b>{{$severity | toUpper}}  🔥</b>{{ else if eq $severity "warning" }}<b>{{$severity | toUpper }} ⚠️</b>{{ end }}){{ else }}<b>{{.Status | toUpper}} ✅</b>({{$severity := .Labels.severity }}{{if eq $severity "critical" }} <b> {{$severity | toUpper}} 🔥</b>{{ else if eq $severity "warning" }}<b>{{$severity | toUpper }} ⚠️</b>{{ end }})
{{ end }}
Description: {{ .Annotations.description | reReplaceAll "&" "&amp;" | reReplaceAll "<" "&lt;" | reReplaceAll ">" "&gt;" }}
{{ end }}
{{ end }}
